:root {
    --strong-color: #84fbff;
    --mid-color: #bbfdff;
    --weak-color: #ebfdfd;
    --error-color: #ffecac;
}

body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--strong-color);
    border-bottom: 2px solid black;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 20px;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.layout-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    background-color: var(--mid-color);
    border-right: 2px solid black;
    width: 200px;
    padding: 20px;
    flex-shrink: 0;
    overflow-y: auto;
    z-index: 90;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    z-index: 80;
}

.type_view,
.task_view {
    border: 2px solid black;
    border-radius: 8px;
    background-color: var(--weak-color);
    padding: 10px;
}

.error_response {
    background-color: var(--error-color)
}

input,
button {
    padding: 10px;
    font-size: 16px;
}