<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tasker Raider</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>

<body>

    <header class="header">
        <h1><a href="/home" style="color: inherit; text-decoration: none;">Tasker Raider</a></h1>
    </header>

    <div class="layout-container">

        <aside class="sidebar">
            <h3>Navigation</h3>
            <ul>
                <li><a href="{{ url_for("gettypes") }}">Get Types</a></li>
                <li><a href="{{ url_for("gettasks") }}">Get Tasks</a></li>
                <li><a href="{{ url_for("addtypeform") }}">Add Type</a></li>
                <li><a href="{{ url_for("addtaskform") }}">Add Task</a></li>
                <li><a href="{{ url_for("updatetypeform") }}">Update Type</a></li>
                <li><a href="{{ url_for("updatetaskform") }}">Update Task</a></li>
                <li><a href="{{ url_for("deletetypesconfirm") }}">Delete All Types</a></li>
                <li><a href="{{ url_for("deletetasksconfirm") }}">Delete All Tasks</a></li>
            </ul>

            <h3>Dev options</h3>
            <ul>
                <li><a href="/docs">Docs</a></li>
            </ul>
        </aside>

        <main class="content">
            {% block content %}
            {% endblock content %}
        </main>

    </div>
</body>

</html>